<%- include('./partials/header') %>

<h1>Display Cohort Info </h1>
  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top logo ml-auto mr-auto" src="<%=cohort.logoUrl%>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%=cohort.name%></h5>
      <p class="card-text"><%=cohort.members%></p>
    </div>
  </div>

<%- include('./partials/footer') %>